.home__container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.home__container__header {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.home__container__content {
    display: flex;
    justify-content: center;
}

.home__container__content__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.home__container__content__search input {
    margin-right: 8px;
}

.home__container__content__weather {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(82, 82, 82, 0.4);
}