.card__container {
  background: #fafafa;
  width: 200px;
  height: 320px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(165, 165, 165, 0.16),
    0 3px 6px rgba(180, 180, 180, 0.23);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.card__container:hover {
  box-shadow: 0 14px 28px rgba(180, 180, 180, 0.25),
    0 10px 10px rgba(194, 194, 194, 0.22);
}
.card__container__header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 0 0 rgba(163, 163, 163, 0.25);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.card__container__header__icon {
  width: 64px;
  height: 64px;
}

.card__container__content {
  width: 100%;
  text-align: center;
  flex: 1;
  color: #333333;
}

.card__container__content__temperatures {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.card__container__content__temperatures div {
  margin: 0px 8px;
}

.card__container__content__temperatures h3 {
  color: grey;
}

.card__container__content__temperatures h1::after {
  content: '';
  position: relative;
  left: 6px;
  border-right: 1px solid rgba(163, 163, 163, 0.25);
}

.card__container__content__day {
  margin-top: 2rem;
}
